<h1>STATISTICS</h1>
<form action = '/stats', method = 'post'>
	<label for="player">select a player name:</label>
	<select name="player">
		<% if @players %>
         <% @players.each do |p| %>
         		<option for="players" value="<%="#{p.name}"%>"%>
         			<%="#{p.name}"%>
         		</option>
         	<% end %>
         <% end %>
	</select>
   <input name ='submit', type = 'submit'>
 </form>
</br>


 <% if matches %>
 	<table>
 		<tr>
 			<td>Name</td>
 			<td>matches</td>
 			<td>match wins</td>
 			<td>win %</td>
 			<td>tournament wins</td>
 		</tr>
 		<tr>
 			<td><%=player%></td>
 			<td><%=matches%></td>
 			<td><%=wins%></td>
 			<td><%=wp%></td>
 			<td><%=twins%></td>
 		</tr>
 	</table>
 <%end%>