
<table>
<tr>
    <td>
            <table class="tg16player">
                <th><h1><%=tournament.name%></h1></th>
                <tr> 
                    <td class="round">Round1</td>
                      <td class="round">Round2</td>
                      <td class="round">Round3</td>
              </tr>
                <tr>

                    <td class="player-cell round1-match1"><%=players[0]%></td>

                    <td class="invisible"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr class="invisible">
                    <td></td>

                    <td class="player-cell round1-match1winner winner-t1 round2-match1" data-ref="<%="#{matches[0].id}"%>">winner1</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td class="player-cell round1-match1"><%=players[1]%></td>
                    <td class="pointer"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="invisible">
                    <td></td>
                    <td></td>
                    <td class="player-cell round2-match1winner round2-match1winner finals">semi winner</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td class="player-cell round1-match2"><%=players[2]%></td>

                    <td class="pointer"></td>
                    <td class="pointer"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="invisible">
                    <td></td>

                    <td class="player-cell round1-match2winner winner-t1 round2-match1" data-ref="<%="#{matches[1].id}"%>">winner2</td>

                    <td class="pointer"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td class="player-cell round1-match2"><%=players[3]%></td>

                    <td></td>
                    <td class="pointer"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr >
                    <td ></td>
                    <td></td>
                    <td></td>
                    <td class="player-cell champ">champion</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>


                    <td class="player-cell round1-match3"><%=players[4]%></td>

                    <td></td>
                    <td class="pointer"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="invisible">
                    <td></td>

                    <td class="player-cell round1-match3winner winner-t1 round2-match2" data-ref="<%="#{matches[2].id}"%>">winner3</td>


                    <td class="pointer"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>


                    <td class="player-cell round1-match3"><%=players[5]%></td>

                    <td class="pointer"></td>
                    <td class="pointer"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="invisible">
                    <td></td>
                    <td></td>
                    <td class="player-cell round2-match2winner finals">semi winner</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td class="player-cell round1-match4 "><%=players[6]%></td>

                    <td class="pointer"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="invisible">
                    <td></td>

                    <td class="player-cell round1-match4winner winner-t1 round2-match2" data-ref="<%="#{matches[3].id}"%>">winner4</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td class="player-cell round1-match4"><%=players[7]%></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </td>
        <td class='fancy'>
            <img src="http://news.xinhuanet.com/english/photo/2012-04/21/131542506_21n.jpg" width="100%" height="100%">
        </td>
        <td class='banner' bgcolor="#33CCFF">Will</td>
        <td class='banner' bgcolor="#FF0000">You</td>
        <td class='banner' bgcolor="#FFFFFF">Win?</td>

    </tr>
</table>
<button class='submit-tournament myButton'> Next Round </button>


<style type="text/css">

.tg16player {
    border-spacing: 0;
}

.pointer {
    border-right: 2px solid black;
    border-width: 3px;
}

.round {
  font-family:Arial-Black; 
  text-align: center;
  padding:10px 5px;
}

.tg16player {
   border-spacing: 0;
}

.player-cell {
    font-family:Arial-Black; 
    text-align: center;
    sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:2px;s
    margin:0;
    background-color:gray;
}

.myButton {
    background-color:#44c767 ;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-family:arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627 ;
}
.myButton:hover {
    background-color:#5cbf2a ;
}
.myButton:active {
    position:relative;
    top:1px;
}


</style>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
  var timesPressed = 0
  $(document).ready(function() {
    $('.round1-match1').on('click', function() {
      if (timesPressed == 0){
        $(this).css('background-color', '#00ff00');
        $('.round1-match1winner').text($(this).text());
        $('.round1-match1').not($(this)).css('background-color', 'red');
        if ($('.round1-match1winner').text() !== "winner1" && $('.round1-match2winner').text() !== "winner2" && $('.round1-match3winner').text() !== "winner3" && $('.round1-match4winner').text() !== "winner4") {$('.submit-tournament').show(this)}
      }
    });

    $('.round1-match2').on('click', function() {
      if (timesPressed == 0){
        $(this).css('background-color', '#00ff00');
        $('.round1-match2winner').text($(this).text());
        $('.round1-match2').not($(this)).css('background-color', 'red');
        if ($('.round1-match1winner').text() !== "winner1" && $('.round1-match2winner').text() !== "winner2" && $('.round1-match3winner').text() !== "winner3" && $('.round1-match4winner').text() !== "winner4") {$('.submit-tournament').show(this)}
      }
    });

    $('.round1-match3').on('click', function() {
      if (timesPressed == 0){
        $(this).css('background-color', '#00ff00');
        $('.round1-match3winner').text($(this).text());
        $('.round1-match3').not($(this)).css('background-color', 'red');
        if ($('.round1-match1winner').text() !== "winner1" && $('.round1-match2winner').text() !== "winner2" && $('.round1-match3winner').text() !== "winner3" && $('.round1-match4winner').text() !== "winner4") {$('.submit-tournament').show(this)}
      }
    });

    $('.round1-match4').on('click', function() {
      if (timesPressed == 0){
        $(this).css('background-color', '#00ff00');
        $('.round1-match4winner').text($(this).text());
        $('.round1-match4').not($(this)).css('background-color', 'red');
        if ($('.round1-match1winner').text() !== "winner1" && $('.round1-match2winner').text() !== "winner2" && $('.round1-match3winner').text() !== "winner3" && $('.round1-match4winner').text() !== "winner4") {$('.submit-tournament').show(this)}
      }
    });

    $('.round2-match1').on('click', function() {
      if (timesPressed == 1) {
        $(this).css('background-color', '#00ff00');
        $('.round2-match1winner').text($(this).text());
        $('.round2-match1').not($(this)).css('background-color', 'red');
        if ($('.round2-match1winner').text() !== "semi winner" && $('.round2-match2winner').text() !== "semi winner") {$('.submit-tournament').show(this)}
      }
    });

    $('.round2-match2').on('click', function() {
      if (timesPressed == 1){
        $(this).css('background-color', '#00ff00');
        $('.round2-match2winner').text($(this).text());
        $('.round2-match2').not($(this)).css('background-color', 'red');
        if ($('.round2-match1winner').text() !== "semi winner" && $('.round2-match2winner').text() !== "semi winner") {$('.submit-tournament').show(this)}
      }
    });

    $('.finals').on('click', function() {
      if (timesPressed == 2){
        $(this).css('background-color', '#00ff00');
        $('.champ').text($(this).text());
        $('.champ').css('background-color', '#00ff00');
        $('.finals').not($(this)).css('background-color', 'red');
        if ($('.champ').text() !== "champion") {$('.submit-tournament').show(this)}
      }
    });

    $('.submit-tournament').hide(this)
    

  });

</script>


<script>
//AJAX Stuff 
	$('.submit-tournament').on('click', function(e){
		$(this).hide();
		timesPressed ++;
		e.preventDefault();
		if (timesPressed == 1) {
			var myJSON = {round: 1};
			$('.winner-t1').each(function(){
				var winnerName = $(this).text();
				var matchId = $(this).data('ref');
				myJSON[winnerName] = matchId;
			})
		}

		else if (timesPressed == 2){
			$(this).text('Results');
			var myJSON = {round: 2};
			var counter = 0;
			$('.finals').each(function(){
				var winnerName = $(this).text();
				myJSON[counter] = winnerName;
				counter++;
			})
		}

		else if (timesPressed == 3){
			var myJSON = {round: 3};
			$('.champ').each(function () {
				var winnerName = $(this).text();
				myJSON[0] = winnerName;
			})
		}

	
		$.ajax({
			url: '/submit-tournament',
			dataType: 'json',
			type: 'POST',
			data: myJSON,
			success: function(){
				console.log("I did it, I SENT...", myJSON);
			}

		})
	})
</script>
