<table class="tg 16player">
	<th><%=tournament.name%></th>
	<tr>
		<td class="round">Round1</td>
   		<td class="round">Round2</td>
   		<td class="round">Round3</td>
   </tr>
	<tr>
		<td class="player-cell"><%=players[0]%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td class="player-cell">winner1</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell"><%=players[1]%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td></td>
		<td class="player-cell">round3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell"><%=players[2]%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td class="player-cell">winner2</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell"><%=players[3]%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td></td>
		<td></td>
		<td class="player-cell">champion</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell"><%=players[4]%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td class="player-cell">winner3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell"><%=players[5]%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td></td>
		<td class="player-cell">round3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell"><%=players[6]%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="invisible">
		<td></td>
		<td class="player-cell">winner4</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td class="player-cell"><%=players[7]%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

<style type="text/css">
/*.tg  {
    border-collapse:collapse;
    border-spacing:0;
}*/
/*td {
	margin-right: 10px
}*/

.round {
	font-family:Arial-Black; 
	text-align: center;
	padding:10px 5px;
}

.player-cell {
    font-family:Arial-Black; 
 	text-align: center;
    sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:2px;
    margin-right: 
}

/*.round2{
    font-family:Arial-Black; 
 text-align: center;
    sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:2px;
    overflow:hidden;
    word-break:normal;
    background-color: red;
}*/

/*.invisible {*/
 /*   font-family:Arial; 
 text-align: center;
    sans-serif;
    font-size:5px;
    padding:10px 5px;
    border-style:solid;
    border-width:2px;*/
/* border-color: #FF9900 ;*/
    /*overflow:hidden;
    word-break:normal;*/
/*    background-color: blue;*/

}
/*
.tg th{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
 text-align: center;
    sans-serif;
    font-size:25px;
    font-weight:normal;
    padding:16px 8px;
    border-style:solid;
    border-width:8px;
 border-color:#FF9900 ;
    overflow:hidden;
    word-break:normal;
}*/
</style>